{% load i18n %}
<form method="get" action="{% url 'public:search' %}" class="input-group">
    <label for="search-input" class="visually-hidden">{% trans "Search projects" %}</label>
    <button type="submit" class="btn btn-outline-secondary border-end-0 rounded-start"
            aria-label="{% trans 'Refine your search' %}">
        <i class="bi bi-search text-muted" aria-hidden="true"></i>
    </button>
    <input id="search-input"
           type="text"
           name="q"
           class="form-control border-start-0 border-secondary"
           placeholder="{% trans 'Search projects, tags, or keywords...' %}"
           value="{{ request.GET.q }}" {# Preserve search query on subsequent searches #}
           required>
</form>
